body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
.wrapper {
    background-color: #3181a6;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.header {
    width: 80%;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    background-color: gold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main {
    width: 80%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: gold;
    margin-top: 40px;
    text-align: center;
    color: #f26522;
    font-weight: bold;
    font-size: 25px;
}
.header-button {
    height: 55px;
    width: 75px;
    border-radius: 5px;
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}
.logo {
    height: 80%;
    margin-top: 15px;
    margin-left: 10px;
}
.text {
    height: 80%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: blue;
    margin-right: 780px;
}
.href {
    text-decoration: none;
    color: blue;
}
.modal-window {
    width: 300px;
    height: 400px;
    background-color: chartreuse;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    left: 480px;
    top: -400px;
    display: none;
}
.select-form {
    text-align: center;
    padding-top: 17px;
}
input {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}
textarea {
    margin-top: 7px;
}
.close {
    border: 0;
    background-color: chartreuse;
    font-weight: bold;
    margin-left: 50px;
}
.list {
    margin-left: 80px;
}
.card-create {
    margin-top: 15px;
    border-radius: 15px;
    background-color: darkgreen;
    font-size: 17px;
    font-weight: bold;
    border: 0;
}
.optional {
    display: none;
}
.sentence {
    padding-top: 155px;
}

.active {

    display: block;
}

.visit-card {
    width: 155px;
    height: 105px;
    background-color: tomato;
    color: white;
    font-size: 10px;
    overflow: auto;
}

.cardInf {
    background-color: grey;
}

.hide {
    background-color: chartreuse;
    border-radius: 15px;
    border: 0;
}

.closeCard {
    background-color: black;
    color: red;
    border: 0;
}

li {
    list-style: none;
}
